#root {
  max-width: 420px;
  background-image: url("../img/1653382577_looped_1653382576.gif");
  border-radius: 10px;
  background-position: unset;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
  background-size: 420px;
  padding: 0;
  margin: 0;
}

#container {
  border-radius: 6px;
}

:root {
  --mdc-theme-primary: black;
  --mdc-theme-background: black;
}

h1 {
  color: white;
  text-shadow: 4px 4px #0B355C;
  margin: 6px;
  text-align: center;
  padding-top: 6px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

h2 {
  font-size: 1.3rem;
  margin: 6px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0 5px 0;
  border-radius: 6px;
}

.ziele {
  box-shadow: 1px 1px 4px 4px #0B355C;
}

.erreicht {
  box-shadow: 1px 1px 4px 4px #0B355C;
}

dt {
  background-color: black;
  color: white;
  vertical-align: center;
  display: flex;
  font-weight: 500;
  text-align: center;
  margin-top: 14px;
  border-radius: 6px;
  height: 2rem;
  font-size: 1.1rem;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

dd {
  background-color: white;
  display: flex;
  margin: 1px;
  border-radius: 6px;
  height: 2rem;
}

dd:hover {
  animation: swiggle 130ms forwards;
}

@keyframes swiggle {
  0% {
    transform: translate(0, 0);
  }

  15% {
    transform: translate(0.5rem, 0);
  }

  35% {
    transform: translate(-0.5rem, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.aktiv {
  background: repeating-linear-gradient(
      -45deg, transparent, transparent 5px, #52278F 5px,
      #52278F 10px),
  repeating-linear-gradient(
      45deg, transparent, transparent 5px, #52278F 5px,
      #52278F 10px);
}

.inaktiv {
  background: repeating-linear-gradient(
      -45deg, transparent, transparent 5px, #0B355C 5px,
      #0B355C 10px),
  repeating-linear-gradient(
      45deg, transparent, transparent 5px, #0B355C 5px,
      #0B355C 10px);
}

button.material-icons {
  vertical-align: bottom;
}

[type="checkbox"] {
  vertical-align: revert;
  margin-right: 1px;
}

dt span {
  width: 100%;
  border-radius: 6px;
}

span {
  text-align: center;
  padding-top: 4px;
}


dd label {
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

dd label input[type="checkbox"] {
  margin: 4px 4px;
}

dd input[type="search"] {
  margin: 0.35rem;
  width: 400px;
}

.mdc-text-field {
  text-align: center;
  border-radius: 6px;
  margin: 5%;
  height: 2.2rem;
  box-shadow: 2px 2px 2px 2px black;
}

label {
  width: 90%;
  cursor: pointer
}

/*dialog fenster*/
.mdc-dialog__content {
  background-color: white;
}

.mdc-dialog__title {
  background-color: white;
  color: white;
}

.mdc-dialog__actions {
}

.mdc-dialog__surface {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 20%;
  bottom: 40%;
}

i.material-icons {
  cursor: pointer;
  float: right;
  padding-top: 8px;
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  padding: 4px 2px 6px 6px;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1rem;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

footer {
  padding: 12px 2% 6px 2%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

main {
  padding: 26px 5% 12px 5%;
  background-color: black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


